@import url(./reset.css);

/* header */

header {}
header > div {
    width: 1539px; margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
header > div > h1 { font-size: 1rem; }
header > div > h1 > a { text-transform: uppercase; }

header > div > nav {}
header > div > nav > a {font-size: 0.8rem; padding: 0 40px;}

header > div > div {}
header > div > div > input {
    border-radius: 30px;
    border: 1px solid #58412A;
    padding: 5px 25px;
}


/* main */

.spot {
    width: 1539px; margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.spot >  img { 
    width: 100%; 
    animation: spot 5s forwards;
    transform: scale(3);
}
@keyframes spot{
    100% {transform: scale(1);}
}
.spot >  figcaption {
    position: absolute; left: 50%; top:50%;
    transform: translate(-50%,-50%); /* 중앙정렬 */
    text-align: center;
}
.spot >  figcaption > b {
    font-size: 52px;
}
.spot >  figcaption > p { padding: 30px 0 70px; }
.spot >  figcaption > a {}

.ani-txt{
    /* 반복 자주사용하는것들은 클래스로 만들기 */
    transform: translateY(100%);
    opacity: 0;
    animation: txt 1s 0.2s forwards;
    display: block; /* 박스 형태의 애들만 애니메이션 가능 */
}
@keyframes txt {
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
 }


 /* product */

 .product{width: 1539px; margin: 130px auto;}
 .product h2{}

 .product .slide{ overflow: hidden; }
 .product .slide .swiper-slider{
    display: flex; justify-content: space-between;
 }
 .product .slide figure{ width: 22%;}
 .product .slide figure img{ width: 100%;}
 .product .slide figure figcaption {
    /* 내가한거
    position: absolute; left: 50%; top:50%;
    transform: translate(-50%,-50%); /* 중앙정렬
    text-align: center; */
 }
 .product .slide figure figcaption > b {}
 .product .slide figure figcaption > p {}






 /* 반응형 */


 @media (max-width:480px) {
html{font-size: 16px;}
header {}
header > div {
    width: 100%; margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
header > div > h1 { font-size: 1rem; }
header > div > h1 > a { text-transform: uppercase; }

header > div > nav { display: none; }
header > div > nav > a {font-size: 0.8rem; padding: 0 40px;}

header > div > div {display: none;}
header > div > div > input {
    border-radius: 30px;
    border: 1px solid #58412A;
    padding: 5px 25px;
}


/* main */

.main {display: none;}
.spot {
    width: 100%; 
    height: 60vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.spot >  img { 
    width: 100%; 
    height: 60vh;
    animation: spot 5s forwards;
    transform: scale(3);
}
@keyframes spot{
    100% {transform: scale(1);}
}
.spot >  figcaption {
    position: absolute; left: 10%; right:10%; top:50%;
    transform: translate(0%,-50%); /* 중앙정렬 */
    text-align: center;
}
.spot >  figcaption > b {
    font-size: 2rem;
}
.spot >  figcaption > p { padding: 30px 0 10px; }
.spot >  figcaption > a { font-size: 1.2rem;}

.ani-txt{
    /* 반복 자주사용하는것들은 클래스로 만들기 */
    transform: translateY(100%);
    opacity: 0;
    animation: txt 1s 0.2s forwards;
    display: block; /* 박스 형태의 애들만 애니메이션 가능 */
}
@keyframes txt {
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
 }


 /* product */

 .product{width: 90%; margin: 130px auto;}
 .product h2{}

 .product .slide{ overflow: hidden; }
 .product .slide .swiper-slider{
    display: flex; justify-content: space-between;
 }
 .product .slide figure{ width: 22%;}
 .product .slide figure img{ width: 100%;}
 .product .slide figure figcaption {
    /* 내가한거
    position: absolute; left: 50%; top:50%;
    transform: translate(-50%,-50%); /* 중앙정렬
    text-align: center; */
 }
 .product .slide figure figcaption > b {}
 .product .slide figure figcaption > p {}

 }

 @media (min-width:481px) and (max-width:767px) {
    
 }

 @media (min-width:768px) and (max-width:1024px) {
    
 }